
.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
    padding: 30px 15px; 
    gap: 30px;
    max-width: 100%;
}


.header {
    
    font-size: clamp(36px, 10vw, 60px); 
    font-weight: 500;
    padding-bottom: 20px; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header span {
    
    color: #de1b89; 
    font-weight: 600;
}


.img-loading {
    display: flex;
    flex-direction: column;
    
    width: 90%; 
    max-width: 512px; 
    margin-top: 10px; 
   
    min-height: 250px; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    
    width: 100%;
    height: auto; 
    object-fit: cover;
}


.search-box {
    display: flex;
   
    width: 90%;
    max-width: 850px;
    height: 70px; 
    align-items: center;
    
    
    background: #1f3540; 
    border-radius: 50px;
    
    
    padding: 0 10px 0 35px; 
    gap: 10px;
}

.search-input {
    flex-grow: 1; 
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    
    color: white; 
    padding-right: 15px; 
}

.search-box ::placeholder {

    color: #999;
}

.generate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 30%; 
    max-width: 300px;
    min-width: 120px;
    margin-right: -10px;
    height: 70px;
    font-size: 20px;
    border-radius: 50px;
    background: #de1b89;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap; 
    padding: 0 15px; 
    transition: background 0.2s;
}

.generate-button:hover {
    
    background: #c9177a; 
}



@media (max-width: 600px) {
    .search-box {
        
        flex-direction: column;
        height: auto;
        padding: 15px; 
        border-radius: 15px; 
        gap: 15px;
    }
    
    .search-input {
        width: 100%; 
        height: 45px;
        margin: 0;
        padding: 0 10px;
        
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 6px;
    }

    .generate-button {
        width: 100%; 
        height: 50px;
        font-size: 18px;
        padding: 0;
    }
}


.loading-bar {
    width: 0px;
    height: 8px;
    background-color: #de1b89;
    margin-top: -5px;
}
.loading-text {
    font-size: 18px;
}
.loading-bar-full {
    width: 0px;
    height: 8px;
    background: #de1b89de;
}
.display-none {
    display: none;
}